@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@100;200&family=Raleway:wght@100&display=swap');

button {
    font-family: 'Open Sans', sans-serif;
}

.cart-list {
    display: grid;
    grid-template-columns: 100%;
    margin: 0 20px 10px 20px;
    padding: 0;
}

.cart-list li {
    display: grid;
    grid-template-columns: repeat(5, 1.5fr);
    align-items: center;
    column-gap: 20px;
    border-bottom: 1px black solid;
}

.cart-list li div {
    display: flex;
    align-items: center;
}

.cart-list li div p {
    margin: 0 15px;
}

.cart-list li button {
    border: none;
    background-color: rgb(229, 209, 182);
    padding: 3px 12px;
    border-radius: 5px;
    cursor: pointer;
}

.cart-list li button:hover {
    background-color: rgb(213, 193, 167);
}

.vaciar {
    margin-left: 20px;
    background-color: rgb(172, 152, 126);
    border: none;
    border-radius: 3px;
    padding: 3px 20px;
    cursor: pointer;
}

.finalizar-compra {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px;
}

.finalizar {
    padding: 5px 15px;
    background-color: rgb(102, 145, 100);
    border-radius: 3px;
}