.mas-info {
    height: 500px;
    width: 500px;
    background-color: rgb(195, 172, 145);
    display: flex;
    margin: 40px 300px;
    border: 2px solid black;
    border-radius: 5px;
}

.mas-info div {
    margin-left: 15px;
}

.mas-info div img {
    height: 350px;
    margin-top: 15px;
}

.precio {
    margin-top: 0;
    margin-bottom: 20px;
}