.logo {
    height: 50px;
}

.navbar {
    background-color: rgb(155, 130, 96);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 0;
}

.nav-ul {
    list-style-type: none;
    display: flex;
    padding: 0;
}

.nav-ul li {
    margin: 0 10px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: rgb(67, 67, 67);
}

@media only screen and (min-width: 460px) and (max-width: 481px) {
    .navbar {
        font-size: small;
    }

    .logo {
        height: 40px;
    }
}

@media only screen and (min-width: 350px) and (max-width: 459px){
    .navbar {
        font-size: x-small;
    }

    .logo {
        height: 35px;
    }
}